[gcode_macro PRINT_START]
# variable_bedtemp: 0
# variable_hotendtemp: 0
gcode:		
  # Parameters
  {% set TOOL = params.TOOL | default(0)| int %}
  {% set TOOL_TEMP = params.TOOL_TEMP | default(0) | int %}
  {% set BED_TEMP = params.BED_TEMP | default(0) | int %}
  # {% set BED = params.BED|int %}
  # {% set HOTEND = params.HOTEND|int %}

  {% if printer.tool_probe_endstop is defined %}
    M117 Disabling crash detection
    STOP_CRASH_DETECTION
  {% endif %}

  # STOP_CRASH_DETECTION
                                                                                          
  # SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=bedtemp VALUE={BED}	
  # SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=hotendtemp VALUE={HOTEND}	
  
  BED_MESH_CLEAR
  G90                             ;Absolute positioning
  
  M117 Homing...
  G28                             ;Homes all the axis
  
  M117 Heating bed...
  M140 S{BED_TEMP}         ;Heats the bed to the temperature obtained from the slicer
  M190 S{BED_TEMP}         ;Waits for the bed to reach temperature before running any other commands
  M109 S150                       ;Heats the nozzle to 150 in order to use TAP
  
  M117 Leveling Gantry...
  T0                              ;Set toolhead 
  QUAD_GANTRY_LEVEL               ;Levels the gantry
  G28 Z                           ; Home Z again after QGL
  BED_MESH_CALIBRATE              ; does a bed mesh and saves it as default for the current session
  
  M117 Loading Mesh...
  BED_MESH_PROFILE Load=default   ;Loads the mesh - now has to be done explicitely, not automatically loaded anymore
  G0 X150 Y150 Z30 F3600          ;Moves to the centre of the bed
  
  M117 Heating Toolhead...

  ; Switch to the initial printing tool and preheat it.
  {% if TOOL > 0 %}
    M104 T0 S0 ; Shutdown T0.
      T{params.TOOL} ; Switch to the initial printing tool
  {% endif %}

  M117 Waiting on T{params.TOOL} S{TOOL_TEMP}C
  M109 S{TOOL_TEMP} ; Wait for the tool to reach the target temperature

  {% if printer.tool_probe_endstop is defined %}
    M117 Re-enabling crash detection
    START_CRASH_DETECTION
  {% endif %}
  
  M117 Starting Print...
  G90                             ;Absolute positining
  SKEW_PROFILE LOAD=Califlower ; Set Skew Profile for dimensional accuracy


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set unload = params.UNLOAD_AT_END|default(0)|int %}

    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    # M400                           ; wait for buffer to clear
    # G92 E0                         ; zero the extruder
    # G1 E-10.0 F3600
    
    # G90                                      ; absolute positioning
    # G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    # G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    # {% if unload|int == 1%}
    #   ERCF_EJECT
    # {% endif %}
    # M107                                     ; turn off fan

    M220 S100 ; Set Feed rate to 100%
    M221 S100 ; Set Flow rate to 100%
  
    SET_PRESSURE_ADVANCE ADVANCE=0 ; Disable pressure advance
  
    G92 E0 ; zero the extruder
    G1 E-2.0 F3600 ; retract filament
    M400 ; wait for buffer to clear
  
    T0 ; Switch to tool 0
  
    G90 ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000 ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600 ; park nozzle at rear
  
    SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0 ; reset gcode offset
  
    {% for tn in printer.toolchanger.tool_numbers %}
        M104 S0 T{tn} ; shutdown tool heater
        M107 T{tn} ; shutdown tool fan
        SET_STEPPER_ENABLE STEPPER=extruder{tn if tn > 0 else ''} ENABLE=0 ; disable extruder stepper
    {% endfor %}
  
    M140 S0 ; shutdown bed heater

    # TURN_OFF_HEATERS
    # M18

    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    SET_SKEW CLEAR=1 ; Clear skew profile from PRINT_START

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####

  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
# description: Cancel the actual running print
# rename_existing: CANCEL_PRINT_BASE
# variable_park: True
# gcode:
#   ## Move head and retract only if not already in the pause state and park set to true

#   {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
#     _TOOLHEAD_PARK_PAUSE_CANCEL
#   {% endif %}

#   TURN_OFF_HEATERS
#   CANCEL_PRINT_BASE
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  # Turn off all tool heaters AND fans (toolchanger-aware)
  {% for tn in printer.toolchanger.tool_numbers %}
    M104 S0 T{tn}              ; shutdown tool heater
    M107 T{tn}                  ; shutdown tool fan
  {% endfor %}
  
  M140 S0                       ; shutdown bed heater
  TURN_OFF_HEATERS              ; safety net for any heaters not covered above
  
  # Reset state
  M220 S100                     ; reset feed rate to 100%
  M221 S100                     ; reset flow rate to 100%
  SET_PRESSURE_ADVANCE ADVANCE=0 ; clear pressure advance
  SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0 ; reset gcode offsets
  BED_MESH_CLEAR                ; clear bed mesh
  SET_SKEW CLEAR=1              ; clear skew profile
  
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg

  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
  
[gcode_macro G32]
gcode:
  BED_MESH_CLEAR
  G28
  QUAD_GANTRY_LEVEL
  G28
  G0 X150 Y150 Z30 F3600

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  60
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  60
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro caselight_white]
gcode:
     set_led led=caselight red=1 green=1 blue=1 white=1

[gcode_macro caselight_purple]
gcode:
     set_led led=caselight red=0.63 green=0.13 blue=0.94 white=0

[gcode_macro caselight_off]
gcode:
     set_led led=caselight

[gcode_macro sb_logo_on]
gcode:
     set_led led=sb_light red=0.63 green=0.13 blue=0.94 white=0 index=1 transmit=1

[gcode_macro sb_logo_off]
gcode:
    set_led led=sb_light red=0 green=0 blue=0 white=0 index=1 transmit=1

[gcode_macro sb_nozzle_on]
gcode:
    set_led led=sb_light red=1.0 green=1.0 blue=1.0 white=1.0 index=2 transmit=0
    set_led led=sb_light red=1.0 green=1.0 blue=1.0 white=1.0 index=3 transmit=1

[gcode_macro sb_nozzle_off]
gcode:
    set_led led=sb_light red=0 green=0 blue=0 white=0 index=2 transmit=0
    set_led led=sb_light red=0 green=0 blue=0 white=0 index=3 transmit=1

[gcode_macro LIGHTS_ALL_OFF]
gcode:
    CASELIGHT_OFF
    SB_NOZZLE_OFF
    SB_LOGO_OFF