[menu __main __octoprint]
type: disabled

# [menu __main __filament __clean]
# type: disabled
# name: Clean Nozzle
# gcode:
#     clean_nozzle

#####################################################################
#   Lights
#####################################################################
[menu __main __lights]
type: list
name: Lights

[menu __main __lights __off]
type: command
name: Caselights Off
gcode:
    caselight_off

[menu __main __lights __white]
type: command
name: Caselights On
gcode:
    caselight_white

[menu __main __lights __purp]
type: command
name: Caselights Purp
gcode:
    caselight_purple

[menu __main __lights __alloff]
type: command
name: All Off
gcode:
    LIGHTS_ALL_OFF

#####################################################################
#   Tune
#####################################################################
# [menu __main __tune __offsetz]
# type: input
# name: Z Offset:{'%05.3f' % menu.input}
# input: {printer[printer.toolchanger.tool].gcode_z_offset}
# input_min: -5
# input_max: 5
# input_step: 0.005
# realtime: True
# gcode:
#     SET_TOOL_OFFSET TOOL={printer.toolchanger.tool_number} Z={'%.3f' % menu.input}